// I gather this file is a starting point for the project.
@import "compass"

// Use this file to override 
@import "variables"

// Imports bootstrap
@import "bootstrap"

// Include responsive Bootstrap styles
//@import "bootstrap-responsive"

//@import "helpers/bootstrap-helpers"

body
  padding-top: 60px
  padding-bottom: 0

//h1, h2, h3, h4, h5, h6
//  font-family: 'Vollkorn', serif

.logo
  font-family: 'Lobster', 'Helvetica Neue', sans-serif

.intro
  h1
    font-size: 400%
  h2
    font-family: 'Helvetica Neue', sans-serif
    font-weight: 200
    color: #666
    font-size: 2em
    margin: 0.75em 0 0.25em 0
  .description
    margin-top: 35px
    p
      font-size: 120%
      line-height: 130%
    .buttons
      margin-top: 1em
      a
        margin-left: 0.75em
  .illustration
    float: left
    margin-top: 20px
    margin-bottom: 50px
    .mac-screenshot
      background: url('../img/harmoneye-e-major-7.png')
      display: block
      width: 512px
      height: 512px
      padding: 35px 57px 79px 57px
      margin: -35px -57px -79px -57px
      img
        display: none

footer
  background: #333333
  color: #cccccc
  padding: 20px 0 100px 0
  a
    color: #cccccc
  a:hover
    color: #ffffff
    background: inherit

