%footer
  .container
    %p
      %i.icon-heart.icon-white
      Handcrafted with love by
      %strong
        =link_to('Bohumír Zámečník', '/about.html', :relative => true)
      in Prague, Czech Republic.