%footer
  .headings
    .container
      .row
        .span2
          %h3 Site
        .span2
          %h3 Social
        .span5
          %h3
            %i.icon-twitter
            What's new
        .span3.about
          %h3 About
  .container
    .row
      .span2
        %ul
          %li
            %i.icon-home.icon-white
            =link_to 'Home', 'index.html'
          %li
            %i.icon-music.icon-white
            -#=link_to 'Learn more', 'learn-more.html'
            =link_to 'Learn more', '/#features'
          -#%li
          -#  %i.icon-shopping-cart.icon-white
          -#  -#=link_to 'Buy', 'buy.html'
          -#  =link_to 'Buy', '/#buy'
          %li
            %i.icon-download-alt.icon-white
            =link_to 'Download', 'download.html'
          %li
            %i.icon-user.icon-white
            =link_to 'About', 'about.html'
      .span2
        %ul
          %li
            %i.icon-twitter
            =link_to 'Twitter', 'https://twitter.com/HarmonEye'
          %li
            %i.icon-pencil
            =link_to 'Blog', 'http://bohumirzamecnik.cz/'
          %li
            %i.icon-facebook
            =link_to 'Facebook', 'https://www.facebook.com/HarmonEye'
          %li
            =link_to 'YouTube', 'http://www.youtube.com/user/HarmonEyeApp'
          %li
            =link_to 'MacUpdate', 'https://www.macupdate.com/app/mac/48565/harmoneye'
          %li
            =link_to 'SoftPedia', 'http://mac.softpedia.com/get/Audio/HarmonEye.shtml'
          %li
            =link_to 'i use this', 'http://osx.iusethis.com/app/harmoneye'
      .span4
        %a.fragment{:name => "twitter", :id => "twitter"}
        <a class="twitter-timeline" href="https://twitter.com/HarmonEye" data-widget-id="326397702822821888" data-tweet-limit="3" data-chrome="noheader transparent" data-theme="dark" data-link-color="#8cc000">Tweets by @HarmonEye</a>

      .about.span3.offset1
        %p
          Handcrafted<br>
          with
          %i.icon-heart.icon-white
            %span.hide love
          and passion<br>
          by
          =link_to('Bohumír Zámečník', '/about.html', :relative => true)
          <br>in Prague, Czech Republic.