---
title: About
name: about
---

%h2
  %i.icon-male
  Who is crafting HarmonEye?

.row
  .span3
    %p Hi, my name is <strong>Bohumír Zámečník</strong> and I'm a software engineed located in Prague, Czech Republic. I hold the MSc. in Computer Science (with specialization in Computer Graphics) at the <a href="http://www.mff.cuni.cz/">Faculty of Mathematics and Physics</a> of the <a href="http://www.cuni.cz/">Charles University in Prague</a>. Currently I work as a Java developer at <a href="http://www.etnetera.cz/">Etnetera</a>, a company of amazing people with a sense for freedom.

  .span3
    %p
      What thrills me most is integrating the various disciplines to find new interesting insights, questions and practical solutions. Among many things I'm interested in programming, computer science, mathematics, computer graphics, visualization, computational photography, music processing and mathematical music theory. Also I'm an amateur musician and photographer.

  .span3
    %p
      I've always enjoyed listening to music and became more involed in making music at the grammar school. Although I didn't attend regular music lessons I started playing guitar and sing in our school choir Corale. More than ten years later I still enjoy the company of the great people there. Also those days I was asking questing about music processing and analysis. However, I didn't know anything about the right tools for that job yet.

  .span3
    %p
      Since I first met a computer when I was about 6 the whole field became my passion. Since I ever had a strong passion for visual aesthetics in studying Computer Graphics allowed me to be able to connect all the disciplines and make my dreams come true. Eg. I created <a href="http://bokehlab.zamecnik.org/">BokehLab</a>, a real-time realistic simulator of photographic lenses. Of course one has to relax and I've found myself interested in jazz guitar improvisation and I started thinking more about the music theory and its relationship with mathematics.

%h2
  %i.icon-shopping-cart
  About the e-shop

:markdown
  The [HarmonEye e-shop](/#buy) is operated by the <a href="http://fairos.cz/kdo-jsme-a-kde-nas-najdete/" title="In Czech language">FAIROS MEDIA, spol. s r.o.</a> company via the [FastSpring](http://fastspring.com/) e-commerce platform.

%h2
  %i.icon-thumbs-up
  Thanks to
:markdown
  - [Etnetera](http://www.etnetera.cz/) - great people with whom I work 
  - [Etnetera Logicworks](http://logicworks.cz/) - Apple hardware tuning wizards - blazing-fast [NSparkle MacBook Pro](http://www.nsparkle.com/index.php?p=macbook_pro) is joy to work with
  - [FastSpring](http://fastspring.com/) - the e-commerce platform
  - [LimeLM](http://wyday.com/limelm/) - rock-solid license manager
  - many more great people, tools, services, libraries, etc.

%h2
  %i.icon-envelope-alt
  Contact
:markdown
  - email: [harmoneye.app@gmail.com](mailto:harmoneye.app@gmail.com)
  - twitter: [@HarmonEye](https://twitter.com/HarmonEye)
  - facebook [HarmonEye](https://www.facebook.com/HarmonEye)

/  ## The motivation behind

/  As musician you come across many songs that touch your heart and you have to learn them and play them again and again. Usually you can find the rough chords and lyrics on the internet, sometimes there is a sheet music but still you have to listen carefully to catch all the details. When impovising to a backing track it might either be one of many flavors of jazz standards or completely a unknown track made by some generous musician. This time you have to be more careful even to catch the basic structure. In any way the primary source of the information is your hearing.

/  There are some people with absolute pitch that are able to identify tones without any external reference. Then there are many more people with so called relative pitch that tell you when the tones are in tune but need some context. The relative pitch can be trained quite well by listening to music and making music. Also some people with good musical memory are able to memorize song quite good. But - the majority of people can think and comprehend visually. Our sight is the source of most information our senses receive. We're trained to use our eyes much more than any of the other senses.

/  The questions that followed from this reasoning were these:

/ - Is it possible to automatically find out the key of the song or its part? So that I can improvise in that key.
/ - Is it possible to automatically find out the chords? So that I can play them myself and accompany the other musicians or just my singing.
/ - Is there any way to find out the melody automatically? So that I can understand the phrasing well or just catch a solo.
/ - How to understand the interesting chord changes?
/ - Without being talented can I have anything like absolute pitch or better?
/ - Can I do it visually?
/ 
/ I admit I don't like sheet music too much. One reason is that I didn't get it under my skin by practicing hard. Other reason is that it is symbolic. It works like a recipe. It tells you many aspect of how the music should be played but leaves the actual performance to you.
/ 
/ It is quite understandable. There was a continuous historical development of sheet music notation which was influenced by specifics of various instruments and ideas of many people. It has always been aimed at being compact so that the song writer doesn't exhaust the whole tree and barrels of ink just to write down a simple song. But this is at the expense of the reader. The latter has to be trained well to link the visual symbols with the musical experiences. A simple analogy cannot be used. Eg. an empty dot with a stem is twice as long as a full dot with a stem. And an empty dot without any stem is even twice longer.
