---
title: Buy
name: buy
---

.well
  %h2
    %i.icon-time
    Oops... The e-shop will be ready soon.

  %p
    %a.btn.btn-large.btn-success{:href=>"http://eepurl.com/xX1M1"}
      %i.icon-envelope.icon-white
      Notify me via email
    just when the application gets launched.

-# https://sites.fastspring.com/fairos/instant/harmoneye