---
title: Changelog and older releases
name: changelog
---

%p Here you can find older releases and summary of their changes.

%p
  The current release and installation instructions are available at the
  =link_to("download", "/download/")
  page.

.well
  %h4
    =link_to("HarmonEye 1.1.1", "http://repo.harmoneye.com/mac/harmoneye-1.1.1.pkg")
    (2013-07-11)
  :markdown
    - fixed the trial mode
  %h4
    =link_to("HarmonEye 1.1", "http://repo.harmoneye.com/mac/harmoneye-1.1.pkg")
    (2013-07-01)
  :markdown
    - trial mode
    - performance optimizations
  %h4
    =link_to("HarmonEye 1.0", "http://repo.harmoneye.com/mac/harmoneye-1.0.pkg")
    (2013-06-04)
  :markdown
    - initial release
