---
title: Download
name: download
---

%p You can download the installation package for your platform and install HarmonEye anytime. In order to run it you need a license. You can easily <a href="/buy/">buy it</a>.

%p
  %a.btn.btn-primary.btn-large{:href => "/repo/harmoneye-1.0.pkg"}
    %i.icon-download-alt.icon-white
    Download HarmonEye 1.0 for Mac OS X
  %a.btn.btn-success.btn-large{:href => "/buy/"}
    %i.icon-shopping-cart.icon-white
    Buy a license
  

%h2 Supported platforms

%p Currently HarmonEye is available only for Mac OS X. Other platforms is planned. The development takes some time, but you support it!

%h2 How to install?

:markdown

  1. Download the installation package.
  1. Allow installing of unsigned applications outside AppStore.
  1. Open the downloaded `.pkg` file to run the instaler.
  1. Select the destination folder (usually `/Applications`).
  1. Complete the installation.
  1. Run the `HarmonEye` application, eg. via Spotlight.