---
title: Learn more
name: learn-more
---

.well
  %h2
    %i.icon-time
    Oops... This section will be ready soon.

  %p
    %a.btn.btn-large.btn-success{:href=>"http://eepurl.com/xX1M1"}
      %i.icon-envelope.icon-white
      Notify me via email
    just when the application gets launched.
